@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    scroll-behavior: smooth;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-width: 400px;
    width: 100vw;
}
body div{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
body button{
    background-color: white;
    border: 1px solid #0154ED;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 10px;
    transition: all 0.3s 0.05s;
}
body button:hover{
    background-color: #0154ED;
    color: white;
}
