@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins;
}

.left {
    text-align: center;
    width: 50%;
    margin-top: 150px;
    height: 50%;
}

.baner {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: -10;
}
form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
form div{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
form div input{
    font-size: 18px;
    padding: 2px 12px;
    border-radius: 10px;
    border: 1px solid #333;
}
.leader{
    width: 20px; height: 20px;
}
form div input:hover{
    transition: ease 0.3s 0.05s;
    cursor: pointer;
    border: 1px solid #0154ED;
}