@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
nav{
   padding: 10px 50px; 
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   background-color: white;
   position: fixed;
}
nav .desno ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    color: black;
    font-size: 22px;
    font-weight: 500;
    
}
nav .desno ul li a{
    color: #000;
    text-decoration: none;
}

main{

}
.home{
background-size:cover;
background-repeat: no-repeat;
background-image: url("slike/bg.png");
height: 100vh;
}
.home .lijevo{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    height: 100%;
}

.home .desno img{
    width: 100%;
}